# /etc/systemd/system/dripdash.service
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=cd /home/ubuntu/drip-dash && /usr/bin/npm run production

[Install]
WantedBy=multi-user.target
